<br>
<br>
<br>
<br>
<div class="container">
    <div class="row" style="margin: 120px 0">
      <div class="col-md-5">
        <h1 class="h1text">Student Feedback</h1>
        <div class="yellow_line"></div>
          <section class="cd-intro">
            <h1 class="cd-headline rotate-1">
                <br>
               <span>What's Your Feedback ?</span>
               <br>
               <span class="cd-words-wrapper">
                  <b class="is-visible text-muted">#Best Teacher</b>
                  <b class="text-muted">#Worst Teacher</b>
                  <b class="text-muted">#Punctual</b>
                  <b class="text-muted">#Funny</b>
                  <b class="text-muted">#Strict</b>
               </span>
            </h1>
         </section> 
        </div>
      <div class="col-md-7">
        <img src="../../assets/undraw_anonymous_feedback_y3co.png" alt="" class="svg-image" />
      </div>
    </div>
    </div>
 
    